## Cálculo da distância percorrida

Nesse notebook é calculada a distância percorrida entre os pontos e a emissão de poluentes

In [1]:
import pandas as pd
from utils.load_csv import load_csv

In [2]:
consumo_diesel = load_csv('consumo_diesel.csv')

fatores_emissao = load_csv('fatores_emissao.csv')

veiculos = load_csv('veiculos.csv')

posicoes_df = load_csv('posicoes_onibus.csv')

In [3]:
data_frame = []
for id_onibus in posicoes_df['id_onibus'].unique():
    df_onibus = posicoes_df[posicoes_df['id_onibus'] == id_onibus].reset_index(drop=True)
    df_onibus.sort_values(by='t', inplace=True)
    for i, row in df_onibus.iterrows():
 
        if i < len(df_onibus)-1:
            x_atual = row['x']
            x_depois = df_onibus.loc[i+1, 'x']
            y_atual = row['x']
            y_depois = df_onibus.loc[i+1, 'x']
 
            #mas tem que reprojetar para SIRGAS 2000
            dist = (x_depois - x_atual)**2 + (y_depois - y_atual)**2
            data_frame.append([id_onibus, dist])

In [4]:
pd.DataFrame(data_frame, columns = ['id_onibus', 'distancia'])

    id_onibus  distancia
0        1001   0.000054
1        1001   0.001596
2        1001   0.006734
3        1001   0.000101
4        1001   0.009061
5        1002   0.013625
6        1002   0.000009
7        1002   0.000922
8        1002   0.000195
9        1002   0.000239
10       1003   0.006851
11       1003   0.000128
12       1003   0.005752
13       1003   0.000471
14       1003   0.019002
15       1004   0.003623
16       1004   0.000009
17       1004   0.007285
18       1004   0.000014
19       1004   0.008868
20       1005   0.000321
21       1005   0.001164
22       1005   0.001621
23       1005   0.001532
24       1005   0.000128
25       1006   0.000306
26       1006   0.006297
27       1006   0.000266
28       1006   0.000002
29       1006   0.006374